langchain>=0.3.25
langchain-openai
langchain-groq
faiss-cpu
tiktoken
langchain-community
chromadb
sentence-transformers
pypdf
python-dotenv
pymupdf
python-docx
unstructured
docx2txt
pandas
openpyxl
msoffcrypto-tool
jq
matplotlib
# Embeddings
langchain.huggingface
sentence-transformers

# Vector Stores

langchain-core>=0.3.58
langchain-experimental
langchain-classic
rank_bm25
wikipedia

#AgenticAI
langgraph>=0.3.20
arxiv
langgraph-cli[inmem]
langgraph_supervisor
langchainhub
neo4j
typing-extensions>=4.12.2
#Medical Report Project 
streamlit
pydub==0.25.1
numpy
pytest==8.0.2
python-multipart==0.0.9 
torch
gTTS==2.5.1
httpx==0.27.2
pandas